---
import NewGame from "./new.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>ATAH Wordle</title>
	</head>
	<body class="bg-black">
		<div id="toast" class="absolute left-3 top-3">
  	</div>
		<div class="mt-5 mx-auto text-3xl max-w-md">
			<NewGame />
		</div>
	</body>
</html>
